<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9EM - Cadastro</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<header class="cabecalho">
    <div class="container">
        <a href="/"> 
            <img src="assets/9EM.svg" alt="Logo da 9EM" class="loja_logo">
        </a>
    </div>
    <div class="container">
        <a href="/biblioteca" class="container__link"> 
            <img src="assets/favoritos.svg" alt="Sua Biblioteca" class="container__imagem">
            <p class="container__texto">Biblioteca</p>
        </a>
        <a href="/cart" class="container__link">
            <img src="assets/carrinho.svg" alt="Carrinho de compras" class="container__imagem">
            <p class="container__texto">Meu Carrinho</p>
        </a>
        <a href="/login" class="container__link">
            <img src="assets/perfil.svg" alt="Botão para acessar a pagina de login" class="container__imagem">
            <p class="container__texto">Perfil</p>
        </a>
    </div>
</header>
<body class="corpo">
    <section class="login_page">
        <section class="login">
            <form action="/cadastrar" method="post">
                <label for="login" class="box_text_C">Login:</label>
                <br>
                <input type="text" id="login" name="login" required class="login_text_box_C">
                <label for="senha" class="box_text_C">Senha:</label>
                <input type="password" id="senha" name="senha" required class="login_text_box_C">
                <button type="submit" class="button_entrar_C">Cadastrar</button>
            </form>
        </section>
    </section>
</body>
<hr/ color="black">
<footer class="rodape">
    
    <h2 class="rodape_titulo"> Fale Conosco</h2>

</footer>
</html>