<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9EM - Login</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<header class="cabecalho">
    <div class="container">
        <a href="/"> 
            <img src="assets/9EM.svg" alt="Logo da 9EM" class="loja_logo">
        </a>
    </div>
    <div class="container">
        <a href="/biblioteca" class="container__link"> 
            <img src="assets/favoritos.svg" alt="Sua Biblioteca" class="container__imagem">
            <p class="container__texto">Biblioteca</p>
        </a>
        <a href="/cart" class="container__link">
            <img src="assets/carrinho.svg" alt="Carrinho de compras" class="container__imagem">
            <p class="container__texto">Meu Carrinho</p>
        </a>
        <a href="/login" class="container__link">
            <img src="assets/perfil.svg" alt="Botão para acessar a pagina de login" class="container__imagem">
            <p class="container__texto">Perfil</p>
        </a>
    </div>
</header>
<body class="corpo">
    <% if (cadastroSucesso) { %>
        <script>alert("Cadastro realizado com sucesso! Faça o login abaixo:")</script>
    <% } %>
    <section class="login_page">
        <section class="login">
                <form method="post" action="/logar">
                    <h2 class="box_text">login:</h2>
                    <input type="text" name="login" id="login" class="login_text_box" required>
                    <h2 class="box_text">Senha:</h2>
                    <input type="password" name="senha" id="senha" class="login_text_box" required>
                    <input type="submit" name="Entrar" class="button_entrar">
                </form>
                <a href="/cadastro" class="cadastro_button"><h3>Realizar Cadastro</h3></a>
            </section>
    </section>
</body>
<hr/ color="black">
<footer class="rodape">
    
    <h2 class="rodape_titulo"> Fale Conosco</h2>

</footer>
</html>