.cabecalho {
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.container__imagem{
    padding: 0.4em;
    margin-right: 0.5em;
}

.container__botao,
.container__titulo,
.opcoes,
.container__texto {
    display: none;
}

.container_link {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

@media screen and (min-width: 1024px) {
    .container {
        margin-right: 2em;
    }
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        margin-right: 1em;
        border: none;
        cursor: pointer;
        appearance: none;
        background-color: inherit;
    }

    .container__texto {
        display: block;
        font-size: 2.25rem;
        font-family: var(--fonte-principal);
        font-weight: 400;
    }

}

@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 0.5em 0.5em;
    }

    .container__texto {
        font-size: 2.5rem;
        margin-right: 2em;
    }

    .container__imagem{
        padding: 0;
        margin-right: 1em;
    }
}