.login_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 180vw;
}

.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--cor-secundaria);
    margin: 1em 2em 1em 2em;
    padding: 1em;
    border-radius: 20px;
}
.cadastro_button{
    font-family: var(--fonte-principal);
    font-size: 1rem;
    color: var(--preto);
    margin-top: 1em;
}

.input_area {
    margin-bottom: 0.2em;
}

.login_text_box {
    border-radius: 20px;
    border: 2px solid var(--cor-principal);
    height: 1em;
    padding: 0.5em;
}

.box_text {
    margin-bottom: 0.1em;
}

.button_entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal);
    border: 2px solid var(--cor-terciaria);
    font-family: var(--fonte-principal);
    border-radius: 20px;
    color: var(--preto);
    width: 70%;
    padding: 0.5em;
    margin: 1em 0.5em 0 0.5em;
    font-size: 1rem;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .login_page {
        height: 90vw;
    }

    .login {
        width: 20em;
        height: 20em;
    }
    
    .login_text_box {
        border-radius: 20px;
        border: 2px solid var(--cor-principal);
        height: 3em;
        width: 20em;
        padding: 0.5em;
    }

    input[type="text"],
    input[type="password"]{
        font-size:1rem;
    }
    
    .box_text {
        font-size: 3rem;
        margin-bottom: 0.1em;
    }
    
    .button_entrar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--cor-principal);
        border: 2px solid var(--cor-terciaria);
        border-radius: 20px;
        color: var(--preto);
        width: 70%;
        padding: 0.5em;
        margin: 1em 0.5em 0 1.25em;
        font-size: 2.5rem;
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {

    .login_page {
        height: 50vw;
    }
}