.carrossel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrossel__titulo {
    background-color: var(--cor-principal);
    border-radius: 20px;
    color: var(--preto);
    text-align: center;
    padding: 2% 3%;
    margin: 5% 18% 0%;
    font-size: 1.5rem;
    font-weight: 400;
}

.box-teste {
    background: var(--cor-principal);
    border-radius: 20px;
    margin: 5% 2%;
    padding: 30% 0% 30%;
    text-align: center;
}

.banner__pesquisa__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0 1em 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 2px solid var(--cor-principal);
    color: var(--cor-secundaria);
    border-radius: 20px;
    padding: 1em 1em 1em 1em;;
    width: 90%;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    color: var(--cor-secundaria);
    background: url(/assets/lupa.svg) no-repeat;
    background-position: 2em;
    background-size: 6%;
}

@media screen and (min-width: 1024px) {
    .box-teste {
        margin: 5% 10%;
        padding: 30% 0% 30%;
    }

    .carrossel__titulo {
        font-size: 2.5rem;
        padding: 0.2em 2em;
        margin: 1em 3em 0em;
    }

    .banner__pesquisa {
        border: 3px solid var(--cor-principal);
        padding: 1.5em 1em 1em 1em;
        width: 60%;
    }

    .banner__pesquisa::placeholder {
        font-size: 2rem;
    }

    input[type="search"]{
        font-size:1.25rem;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel {
        align-items: center;
    }
    .carrossel__titulo {
        font-size: 2.5rem;
        padding: 0.2em 2em;
        margin: 1em 1em 0;
        width: 50%;
    }

    .box-teste {
        width: 50%;
        height: 10%;
        margin: 2em;
        padding: 10em;
    }

    .banner__pesquisa {
        border: 3px solid var(--cor-principal);
        padding: 1em 3em;
        width: 50em;
    }

    .banner__pesquisa::placeholder {
        background-size: 4%;
    }
}