.categorias_biblioteca {
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.categorias-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.biblioteca_titulo {
    margin-left: 0.5em;
}

.categoria__menu-hamburguer {
    width: 0.5rem;
    height: 0.5rem;
    background-image: url(/assets/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cb__botao:checked~.cb__rotulo > .categoria__menu-hamburguer {
    background-image: url(/assets/menu_open.svg);
}

.cb__botao:checked~.cb__rotulo {
    background: var(--cor-de-fundo-degrade);
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.cb__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-secundaria);

}

.lista-menu__link {
    background: var(--cor-de-fundo-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.categorias_titulo {
    padding-right: 2%;
}

.cb__imagem{
    padding: 1em;
}

.cb__botao {
    display: none;
}

.lista-menu__item:hover {
    background: var(--cor-de-fundo-degrade);
}

.lista-menu__item:hover > .lista-menu__link {
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .biblioteca_titulo {
        font-size: 2rem;
    }

    .lista-menu{
        width: 30vw;
    }
}

@media screen and (min-width: 1728px) {
    .categorias_biblioteca {
        border-radius: 20px;
        margin: 0em 4em;
    }

    .lista-menu{
        width: 10vw;
    }
}