.categorias {
    background-color: var(--cor-principal);
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
}

.categoria__menu-hamburguer {
    width: 0.5rem;
    height: 0.5rem;
    background-image: url(/assets/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cb__botao:checked~.cb__rotulo > .categoria__menu-hamburguer {
    background-image: url(/assets/menu_open.svg);
}

.cb__botao:checked~.cb__rotulo {
    background: var(--cor-de-fundo-degrade);
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.cb__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-secundaria);

}

.lista-menu__link {
    background: var(--cor-de-fundo-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.categorias_titulo {
    padding-left: 2%;
}

.cb__imagem{
    padding: 1em;
}

.cb__botao {
    display: none;
}

.lista-menu__item:hover {
    background: var(--cor-de-fundo-degrade);
}

.lista-menu__item:hover > .lista-menu__link {
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
}