.cabecalho {
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 0.4em;
}

.container__botao,
.container__titulo,
.opcoes,
.container__texto {
    display: none;
}