.perfil_page,
.perfil,
.perfil_img,
.jogos_count {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.perfil_page {
    height: 180vw;
}

.perfil {
    background-color: var(--cor-secundaria);
    margin: 1em 1em 1em 1em;
    padding: 1em;
    border-radius: 20px;
}

.perfil_img {
    height: 7em;
    width: 7em;
    background-color: var(--cor-terciaria);
    border-radius: 100%;
}

.perfil_nome {
    margin: 1em
}

.jogos_count {
    flex-direction: row;
}

@media screen and (min-width: 1024px) {
    .perfil_page {
        height: 90vw;
    }

    .perfil {
        width: 20em;
        height: 20em;
    }

    .perfil_img {
        height: 14em;
        width: 14em;
    }

    .perfil_nome,
    .jogos_count {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1728px) {

    .perfil_page {
        height: 50vw;
    }
}